# Ignore node_modules in backend and client
backend/node_modules/
client/node_modules/

# Ignore environment variables
./backend/.env
./client/.env
.env

# Ignore build and logs (optional)
backend/dist/
client/dist/
backend/logs/
client/logs/

# Ignore system files
.DS_Store
Thumbs.db
